<ion-app>

  <ion-menu side="start" menuId="menuPrincipal" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>menu principal </ion-title> 
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item ><ion-icon name="speedometer"></ion-icon>viajes</ion-item>
          <ion-item><ion-icon name="card"></ion-icon> billetera </ion-item>
          <ion-item><ion-icon name="help-circle"></ion-icon> ayuda</ion-item>
          <ion-item><ion-icon name="logo-whatsapp"></ion-icon> mensajes</ion-item>
          <ion-item><ion-icon name="help-buoy"></ion-icon> centro de seguridad</ion-item>
          <ion-item><ion-icon name="construct"></ion-icon> configuracion</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>



<ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
