<ion-app>

  <ion-menu side="start" menuId="menuPrincipal" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>menu principal </ion-title> 
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>viajes</ion-item>
          <ion-item>billetera </ion-item>
          <ion-item>ayuda</ion-item>
          <ion-item>mensajes</ion-item>
          <ion-item>centro de seguridad</ion-item>
          <ion-item>configuracion</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>



<ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
